html
    body
        h1 student dashboard
        a(href="/stud/newcourse")
            button add new course
        //- form(action="/stud/newcourse", method="post")
        //-     button(type="submit", name="coursecode", value="*") add new course
        a(href="/stud/viewcourses")
            button view subscribed course
        a(href="/stud/editcourse")
            button edit subscription